@model StudentNotes_MVC_SebastianPytel.Models.StudentNote

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" data-ajax="true" data-ajax-method="post" data-ajax-complete="creatingClose" data-ajax-begin="creatingProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="NoteLabel" class="control-label">Note label</label>*@
                <input asp-for="NoteLabel" class="form-control" placeholder="Note label"/>
                <span asp-validation-for="NoteLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Note" class="control-label"></label>*@
                <textarea asp-for="Note" id="cke-student-note" class="form-control" placeholder="Note body"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Create" class="btn btn-success submit-ajax-button" />
            </div>
        </form>
    </div>
</div>

@*<script src="~/js/ckeditor5/build/ckeditor.js"></script>*@
<script>
    ClassicEditor
        .create(document.querySelector('#cke-student-note'), {
            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'indent',
                    'outdent',
                    '|',
                    'imageUpload',
                    'blockQuote',
                    'insertTable',
                    'mediaEmbed',
                    'undo',
                    'redo'
                ]
            },
            config: {
                minHeight: '50vh',
            },
            language: 'en',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells'
                ]
            },
            licenseKey: '',

        })
        .then(editor => {
            window.editor = editor;

        })
        .catch(error => {
            console.error(error);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
