@model StudentNotes_MVC_SebastianPytel.Models.StudentNote

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" data-ajax="true" data-ajax-method="post" data-ajax-complete="editingClose" data-ajax-begin="editingProcess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NoteLabel" class="control-label"></label>
                <input asp-for="NoteLabel" class="form-control" />
                <span asp-validation-for="NoteLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" id="cke-student-note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default submit-ajax-button" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#cke-student-note'), {

                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'link',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'indent',
                        'outdent',
                        '|',
                        'imageUpload',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'undo',
                        'redo'
                    ]
                },
                language: 'en',
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:full',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',

            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}
