@model IEnumerable<StudentNotes_MVC_SebastianPytel.Models.StudentNote>

@using Microsoft.AspNetCore.Identity
@using StudentNotes_MVC_SebastianPytel.Areas.Identity.Data

@inject SignInManager<StudentNotesUser> SignInManager
@inject UserManager<StudentNotesUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    string name = "";
    name = user.Name;

    string title = "";

    if (name != "")
    {
        title = name + "'s notes";
    }
    else
    {
        title = "Your notes";
    }
    
    ViewData["Title"] = title;
}

<partial name="_NavbarLogged" />

<div class="container">
    <div class="row">
        <div class="col-12 p-4">
            <div class="row text-center p-3">
                <div class="col-12 col-md-5">
                    <a class="d-flex align-items-center justify-content-center text-decoration-none" data-toggle="modal" data-target="#studentNotesModal" data-modal-title="Create note" data-modal-url="/StudentNotes/CreateAjax" href="#">
                        <i class="far fa-sticky-note fa-3x text-warning pr-3"></i>
                        <span class="text-success font-weight-bold">
                            Create new note
                        </span>
                        <i class="fas fa-plus-square fa-1x text-success pl-2"></i>
                    </a>
                </div>
                <div class="col-12 col-md-7 pt-4 pt-md-0">
                    <div class="d-flex h-100 align-items-center justify-content-center justify-content-md-end">
                        <div class="px-2">
                            <button class="btn btn-sm btn btn-primary px-3 ajax-index-sort" data-sort-url="/StudentNotes/IndexAjaxCreated" href="#">Sort by created date</button>
                        </div>
                        <div class="px-2">
                            <button class="btn btn-sm btn btn-primary px-3 ajax-index-sort" data-sort-url="/StudentNotes/IndexAjaxModified" href="#">Sort by modified date</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center p-3">
                <div class="col-12 p-3">
                    <div class="d-none pb-3" id="notesAllLoader">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div id="notesAll">
                        @Html.Partial("IndexAjax")
                    </div>
                </div>
            </div>

            <!-- Modal create-->
            <div class="modal fade" id="studentNotesModal" tabindex="-1" role="dialog" aria-labelledby="studentNotesModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close clear-modal-data" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-none modal-loader pb-3">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="inside">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/jquery-ajax-unobtrusive/src/jquery.unobtrusive-ajax.js"></script>
    <script>
        //refresh notes listing
        var actualIndexView = '/StudentNotes/IndexAjaxModified';

        function refreshNotesView() {
            //$('#notesAll').html('');
            $('#notesAllLoader').removeClass('d-none');
            setTimeout(function () {
                $('#notesAll').load(actualIndexView, function () {
                    $('#notesAllLoader').addClass('d-none');
                });
            }, 1000)
        }

        $(document).on('click', '.ajax-index-sort', function () {
            actualIndexView = $(this).data('sort-url');

            refreshNotesView();
        });

        //Hide show
        $('#studentNotesModal').on('hidden.bs.modal', function (e) {
            $('#studentNotesModal .modal-title').html('');
            $('#studentNotesModal .inside').html('');
            $('#studentNotesModal .modal-loader').addClass('d-none');
        });

        //Modal show
        $('#studentNotesModal').on('show.bs.modal', function (e) {
            const loadUrl = $(e.relatedTarget).data('modal-url');
            const title = $(e.relatedTarget).data('modal-title');

            $('#studentNotesModal .modal-title').html(title);
            $('#studentNotesModal .inside').html('');
            $('#studentNotesModal .modal-loader').removeClass('d-none');
            
            setTimeout(function () {
                $('#studentNotesModal .inside').load(loadUrl, function () {
                    $('#studentNotesModal .modal-loader').addClass('d-none');
                });
            }, 1000);
        });

        $(document).on('click', '.ajax-edit', function () {
            const noteId = $(this).data('id');

            $('#studentNotesModal .inside').html('');
            $('#studentNotesModal .modal-loader').removeClass('d-none');

            setTimeout(function () {
                $('#studentNotesModal .inside').load('/StudentNotes/EditAjax/' + noteId, function () {
                    $('#studentNotesModal .modal-loader').addClass('d-none');
                });
            }, 1000);
        });

        //dynamic forms
        editingClose = function (xhr) {
            let noteId = xhr.responseJSON.noteId;
            let noteLabel = xhr.responseJSON.noteLabel;

            setTimeout(function () {
                $('#studentNotesModal .modal-title').html(noteLabel);
                $('#studentNotesModal .inside').html('Saved successfully note ' + noteLabel + ' reloading note');
                refreshNotesView();
            }, 500);

            setTimeout(function () {
                $('#studentNotesModal .inside').load('/StudentNotes/DetailsAjax/' + noteId, function () {
                    $('#studentNotesModal .modal-loader').addClass('d-none');
                });

                $('#studentNotesModal .modal-loader').addClass('d-none');
            }, 1500);
        }

        editingProcess = function (xhr) {
            $('#studentNotesModal .inside').html('Saving note...');
            $('#studentNotesModal .modal-loader').removeClass('d-none');
            $('.submit-ajax-button').attr('disabled', 'disabled');
        }

        deletedClose = function (xhr) {
            let noteId = xhr.responseJSON.noteId;
            let noteLabel = xhr.responseJSON.noteLabel;

            setTimeout(function () {
                $('#studentNotesModal .inside').html('Deleted successfully note ' + noteLabel);
            }, 500);

            setTimeout(function () {
                $('#studentNotesModal .modal-loader').addClass('d-none');
                $('#studentNotesModal').modal('hide');
                refreshNotesView();
            }, 1500);
        }

        deletingProcess = function (xhr) {
            $('#studentNotesModal .inside').html('Deleting note...');
            $('#studentNotesModal .modal-loader').removeClass('d-none');
            $('.submit-ajax-button').attr('disabled', 'disabled');
        }

        creatingClose = function (xhr) {
            let noteId = xhr.responseJSON.noteId;
            let noteLabel = xhr.responseJSON.noteLabel;

            setTimeout(function () {
                $('#studentNotesModal .inside').html('Saved successfully note ' + noteLabel);
            }, 500);

            setTimeout(function () {
                $('#studentNotesModal .modal-loader').addClass('d-none');
                $('#studentNotesModal').modal('hide');
                refreshNotesView();
            }, 1500);
        }

        creatingProcess = function (xhr) {
            $('#studentNotesModal .inside').html('Saving note...');
            $('#studentNotesModal .modal-loader').removeClass('d-none');
            $('.submit-ajax-button').attr('disabled', 'disabled');
        }
    </script>

    <script src="~/js/ckeditor5/build/ckeditor.js"></script>
}


