@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset link has been sent";
}

<div class="d-flex vh-100 align-items-center justify-content-center">
    <div class="text-center">
        <h2><span class="font-weight-bold">@ViewData["Title"]</span></h2>
        <hr />
        <p>
            Please check your email to reset your password.
        </p>
        <br />
        <div class="form-group">
            <p>
                Wanna go back? <a asp-page="./Login" class=""><span class="font-weight-bold">Click here</span></a>
            </p>
        </div>
    </div>
</div>

