@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="d-flex vh-100 align-items-center justify-content-center">
    <div class="text-center">
        <h2><span class="font-weight-bold">@ViewData["Title"]</span></h2>
        <hr />
        <form method="post">
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email)" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Send me password reset link</button>
        </form>
        <br />
        <div class="form-group">
            <p>
                Have you remind your password? <a asp-page="./Login" class=""><span class="font-weight-bold">Sign in</span></a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
