@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

@*<div class="d-flex align-items-center justify-content-center">*@
<div class="d-flex vh-100 align-items-center justify-content-center">
    <div class="text-center">
        <h2><strong>@ViewData["Title"]</strong></h2>
        <hr />
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Email)" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Input.Password)" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Sign in</button>
                </div>
                <br />
                <div class="form-group">
                    <p>
                        Doesn't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class=""><strong>Sign up</strong></a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
