@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Your password has been reset";
}

<div class="d-flex vh-100 align-items-center justify-content-center">
    <div class="text-center">
        <h2><span class="font-weight-bold">@ViewData["Title"]</span></h2>
        <hr />
        <p>
            Successfully - your password has been reset.
        </p>
        <br />
        <div class="form-group">
            <p>
                Now you can sign in <a asp-page="./Login" class=""><span class="font-weight-bold">here</span></a>
            </p>
        </div>
    </div>
</div>
