@page
@model IndexModel
@{
    ViewData["Title"] = "Edit profile";
}

<div class="row p-3">
    <div class="col-md-6 p-3">
        <h4>@ViewData["Title"]</h4>

        @Html.Partial("_StatusMessage", Model.StatusMessage)

        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>*@
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-sm btn-outline-primary">Send verification email</button>
                    </div>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Surname"></label>
                <input asp-for="Input.Surname" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
